@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* =======================================================
*
* 	Template Style 
*
* ======================================================= */
body {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #828282;
  background: #fff;
}

#page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a {
  color: #d1c286;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #d1c286;
  outline: none;
  text-decoration: none;
}

p {
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, figure {
  color: #000;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
}
#fh5co-hero {
  min-height: 700px;
  background: #fff url(../images/loader.gif) no-repeat center center;
}
#fh5co-hero .btn {
  font-size: 24px;
}
#fh5co-hero .btn.btn-primary {
  padding: 14px 30px !important;
}
#fh5co-hero .flexslider {
  border: none;
  z-index: 1;
  margin-bottom: 0;
}
#fh5co-hero .flexslider .slides {
  position: relative;
  overflow: hidden;
}
#fh5co-hero .flexslider .slides li {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 700px;
}
#fh5co-hero .flexslider .flex-control-nav {
  bottom: 40px;
  z-index: 1000;
}
#fh5co-hero .flexslider .flex-control-nav li a {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: none;
  width: 12px;
  height: 12px;
  cursor: pointer;
}
#fh5co-hero .flexslider .flex-control-nav li a.flex-active {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
}
#fh5co-hero .flexslider .flex-direction-nav {
  display: none;
}
#fh5co-hero .flexslider .slider-text {
  display: table;
  opacity: 0;
  min-height: 700px;
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner {
  display: table-cell;
  vertical-align: middle;
  min-height: 700px;
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner h2 {
  font-size: 24px;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media screen and (max-width: 768px) {
  #fh5co-hero .flexslider .slider-text > .slider-text-inner h2 {
    font-size: 40px;
  }
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner .desc {
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner .desc .price {
  font-size: 14px;
  letter-spacing: 3px;
  display: block;
  margin-bottom: 20px;
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner .btn {
  font-size: 18px;
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner .fh5co-lead {
  font-size: 20px;
  color: #fff;
}

.fh5co-bg-section {
  background: rgba(0, 0, 0, 0.05);
}

#fh5co-services,
#fh5co-started,
#fh5co-testimonial,
#fh5co-started,
#fh5co-product,
#fh5co-about,
#fh5co-contact,
#fh5co-footer {
  padding: 7em 0;
  clear: both;
}
@media screen and (max-width: 768px) {
  #fh5co-product{
    padding: 3em 0;
  }
}

.feature-center {
  padding-left: 20px;
  padding-right: 20px;
  float: left;
  width: 100%;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .feature-center {
    margin-bottom: 50px;
  }
}
.feature-center .desc {
  padding-left: 180px;
}
.feature-center .icon {
  width: 90px;
  height: 90px;
  background: #9EB384;
  display: table;
  text-align: center;
  margin: 0 auto 30px auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.feature-center .icon i {
  display: table-cell;
  vertical-align: middle;
  height: 90px;
  font-size: 40px;
  line-height: 40px;
  color: #fff;
}
.feature-center p, .feature-center h3 {
  margin-bottom: 30px;
}
.feature-center h3 {
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 600;
}

.product {
  margin-bottom: 40px;
}
.product .product-grid {
  border-radius: 15px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  height: 350px;
  margin-bottom: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.product .product-grid .sale {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  z-index: 100;
  background: #d1c286;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.product .product-grid .inner {
  display: table;
  height: 350px;
  width: 100%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 768px) {
  .product .product-grid .inner {
    opacity: 1;
    background: transparent;
  }
}
.product .product-grid .inner p {
  display: table-cell;
  vertical-align: middle;
}
.product .product-grid .inner p .icon {
  padding: 7px 10px;
  color: #fff;
  background: #d1c286;
}
.product .product-grid .inner p .icon:hover, .product .product-grid .inner p .icon:focus {
  color: #d1c286;
  background: #fff;
}
.product .desc h3 {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: bold;
  line-height: 24px;
}
.product .desc h3 a {
  color: #000;
}
.product .desc .price {
  letter-spacing: 2px;
  text-transform: uppercase;
}
.product:hover .product-grid, .product:focus .product-grid {
  -webkit-box-shadow: 0px 10px 24px -7px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 10px 24px -7px rgba(0, 0, 0, 0.35);
  -ms-box-shadow: 0px 10px 24px -7px rgba(0, 0, 0, 0.35);
  -o-box-shadow: 0px 10px 24px -7px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 10px 24px -7px rgba(0, 0, 0, 0.35);
}
.product:hover .inner, .product:focus .inner {
  opacity: 1;
}
.product:hover .desc h3 a, .product:focus .desc h3 a {
  color: #9EB384;
}
.uppercase {
  font-size: 14px;
  color: #000;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .fh5co-nav-toggle {
    display: block;
  }
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 20px;
}
.btn.btn-md {
  padding: 8px 20px !important;
}
.btn.btn-lg {
  padding: 18px 36px !important;
}
.btn:hover, .btn:active, .btn:focus {
  box-shadow: none !important;
  outline: none !important;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #435334!important;
  border-color: #435334 !important;
}
.btn-primary.btn-outline {
  background: transparent;
  color: #9EB384;
  border: 2px solid #9EB384;
}
.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
  background: #435334;
  color: #fff;
}
.row-pb-md {
  padding-bottom: 4em !important;
}

.row-pb-sm {
  padding-bottom: 2em !important;
}
.js .animate-box {
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */
